Cookies aren't always sent to subdomains

Manually adding cookies to the using any of the constructors of [Cookie](https://github.com/HtmlUnit/htmlunit/blob/e1f559f15a682a325a55ae4ed41b116653f21eeb/src/main/java/com/gargoylesoftware/htmlunit/util/Cookie.java) except for this one https://github.com/HtmlUnit/htmlunit/blob/e1f559f15a682a325a55ae4ed41b116653f21eeb/src/main/java/com/gargoylesoftware/htmlunit/util/Cookie.java#L99-L101

results in cookies not being sent for subdomains, even though they should be sent as per [section 5.1.3 of RFC 6265](https://tools.ietf.org/html/rfc6265#section-5.1.3).

The root cause is that [HtmlUnitDomainHandler](https://github.com/HtmlUnit/htmlunit/blob/e1f559f15a682a325a55ae4ed41b116653f21eeb/src/main/java/com/gargoylesoftware/htmlunit/httpclient/HtmlUnitDomainHandler.java) delegates to `BasicDomainHandler` which contains the following code:

```java
// ...
if (cookie instanceof ClientCookie) {
  if (((ClientCookie) cookie).containsAttribute(ClientCookie.DOMAIN_ATTR)) {
    return domainMatch(domain, host);
  }
}
return false;
```

And the domain attribute is never set in the constructors of `Cookie`. If it is set, however, `domainMatch` does properly handle subdomains.

Example code:
```java
  @Test
  public void testSameDomain() throws IOException {
    try (final WebClient webClient = new WebClient()) {
      Cookie cookie = new Cookie("example.com", "name", "value");

      webClient.getCookieManager().setCookiesEnabled(true);
      webClient.getCookieManager().addCookie(cookie);

      final HtmlPage subDomainRequest = webClient.getPage("http://example.com");
      System.out.println(subDomainRequest);
    }
  }

  @Test
  public void testSubdomain() throws IOException {
    try (final WebClient webClient = new WebClient()) {
      Cookie cookie = new Cookie("example.com", "name", "value");

      webClient.getCookieManager().setCookiesEnabled(true);
      webClient.getCookieManager().addCookie(cookie);

      final HtmlPage subDomainRequest = webClient.getPage("http://www.example.com");
      System.out.println(subDomainRequest);
    }
  }
```

Enabling DEBUG-level logging of `org.apache.http.client.protocol.RequestAddCookies` and running these tests results in:
- `testSameDomain`:
    > 16:44:31.815 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - CookieSpec selected: mine
16:44:31.824 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - Cookie [version: 0][name: name][value: value][domain: example.com][path: null][expiry: null] match [example.com:80/]
HtmlPage(http://example.com/)@1360541835
- `testSubdomain` (cookie not sent):
    > 16:44:32.420 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - CookieSpec selected: mine
HtmlPage(http://www.example.com/)@841166421

--- 

Possible workaround: Directly instantiate a `BasicClientCookie` (outside of HtmlUnit's domain) and pass it to `Cookie`

```java
  @Test
  public void testSameDomainWithClientCookie() throws IOException {
    try (final WebClient webClient = new WebClient()) {
      BasicClientCookie clientCookie = new BasicClientCookie("name", "value");
      clientCookie.setDomain("example.com");
      clientCookie.setAttribute(ClientCookie.DOMAIN_ATTR, "example.com");
      Cookie cookie = new Cookie(clientCookie);

      webClient.getCookieManager().setCookiesEnabled(true);
      webClient.getCookieManager().addCookie(cookie);

      final HtmlPage subDomainRequest = webClient.getPage("http://example.com");
      System.out.println(subDomainRequest);
    }
  }

  @Test
  public void testSubdomainWithClientCookie() throws IOException {
    try (final WebClient webClient = new WebClient()) {
      BasicClientCookie clientCookie = new BasicClientCookie("name", "value");
      clientCookie.setDomain("example.com");
      clientCookie.setAttribute(ClientCookie.DOMAIN_ATTR, "example.com");
      Cookie cookie = new Cookie(clientCookie);

      webClient.getCookieManager().setCookiesEnabled(true);
      webClient.getCookieManager().addCookie(cookie);

      final HtmlPage subDomainRequest = webClient.getPage("http://www.example.com");
      System.out.println(subDomainRequest);
    }
  }
```

Running these with the same log config results in:
- `testSameDomainWithClientCookie`:
  > 18:06:55.032 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - CookieSpec selected: mine
18:06:55.032 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - Cookie [version: 0][name: name][value: value][domain: example.com][path: null][expiry: null] match [example.com:80/]
HtmlPage(http://example.com/)@841166421
- `testSubdomainWithClientCookie`:
  > 18:06:55.808 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - CookieSpec selected: mine
18:06:55.809 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - Cookie [version: 0][name: name][value: value][domain: example.com][path: null][expiry: null] match [www.example.com:80/]
HtmlPage(http://www.example.com/)@467632528

The workaround is dirty and hackish.  A cleaner solution might be to modify constructors of `Cookie` to set the domain attribute, or to alter `HtmlUnitDomainHandler` to handle subdomains.



Many thanks for this detailed report. We maybe had some similar findings during the last months. But so far I was not able to reproduce them because the pointer to the manual construction of the cookies was missing. Will enhance the test suite and fix it soon. You can have a look at twitter for news.
Thanks again

just made a new snapshot - please have a look

Awesome! How can I download the snapshot with Maven? In [Maven Central](https://mvnrepository.com/artifact/net.sourceforge.htmlunit/htmlunit) I only see up to v2.48.0, no snapshots.

Its available from the sonatype snapshot repo. Please have a look at https://github.com/HtmlUnit/htmlunit topic latest ci build. 

Am 9. April 2021 20:23:54 MESZ schrieb Juan Li Puma ***@***.***>:
>Awesome! How can I download the snapshot with Maven? In [Maven
>Central](https://mvnrepository.com/artifact/net.sourceforge.htmlunit/htmlunit)
>I only see up to v2.48.0, no snapshots.
>
>-- 
>You are receiving this because you commented.
>Reply to this email directly or view it on GitHub:
>https://github.com/HtmlUnit/htmlunit/issues/333#issuecomment-816872768

-- 
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

Added the repository like so in my POM:
```xml
 <repositories>
    <repository>
      <id>sonatype-nexus-snapshots</id>
      <url>https://oss.sonatype.org/content/repositories/snapshots</url>
      <snapshots>
        <enabled>true</enabled>
      </snapshots>
    </repository>
  </repositories>
```

Updated to `2.49.0-SNAPSHOT` and ran the same tests again. Looks like the subdomain matches in all cases 🎉 

- `testSameDomain`:
  > 23:14:01.289 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - CookieSpec selected: mine
23:14:01.300 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - Cookie [version: 0][name: name][value: value][domain: example.com][path: null][expiry: null] match [example.com:80/]
- `testSubdomain`:
  > 23:14:02.280 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - CookieSpec selected: mine
23:14:02.281 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - Cookie [version: 0][name: name][value: value][domain: example.com][path: null][expiry: null] match [www.example.com:80/]
- `testSameDomainWithClientCookie`:
  > 23:14:01.951 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - CookieSpec selected: mine
23:14:01.952 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - Cookie [version: 0][name: name][value: value][domain: example.com][path: null][expiry: null] match [example.com:80/]
- `testSubdomainWithClientCookie`:
  > 23:14:02.611 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - CookieSpec selected: mine
23:14:02.612 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - Cookie [version: 0][name: name][value: value][domain: example.com][path: null][expiry: null] match [www.example.com:80/]

**Edit:** Just noticed the snapshot instructions were on the README the whole time, looks like I never scrolled down far enough 🤦 😛 

Again thanks for the report, a new release is on the way. 